{{#extends 'base'}}
{{#block "content"}}
    <div>
        <div id="first-fold">
            <div class="content">
                <div id="hero-img">
                    <img src="img/table.png" alt="table-photo">
                    <div class="text-img">
                        <img src="img/text.png" alt="text-photo">
                        <a href="/login" class="log-in">Log-in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/block}}
{{/extends}}