body{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8 !important;
}

#logo {
    height: 48px;
    width: auto;
  }

.bg-silver {
    background-color: #f8f8f8;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


.log-in {
    background-color:  white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    color: black;
    border: 2px black solid;
    padding: 10px 50px;
    width: 200px;
    margin-left: 40px;
}

.header-img {
    padding-left: 40px;
}

h1 {
    padding-left: 20px;
}

h4 {
    padding-left: 20px;
}

p {
    padding-left: 20px;
}

form {
    padding-left: 20px;
}

.write-review-section {
    display: flex !important;
    justify-content: center !important;
}

.title {
    font-weight: bold;
}

.cuisine {
    font-style: italic;
}

.form-control {
    width: 500px !important;
}

.section {
    padding-top: 20px;
}


.form-control-review {
    display: block;
    width: 500px;
    height: 200px;
}